

    @{
        ViewData["Title"] = "About Us";
    }

     <h1 style=" text-align:center"><b>About Us</b></h1>


<img src="~/About.jpg" alt="About us" style="display: block; margin: 0 auto; width: 100%; max-width: 800px; height: auto;" />




    <p>
    Amazon is guided by four principles: customer obsession rather than competitor focus, passion for invention, commitment to operational excellence, and long-term thinking. We strive to be Earth’s most customer-centric company, Earth’s best employer, and Earth’s safest place to work.
    </p>
    <p>
        Our team values collaboration, innovation, and continuous improvement.
        Thank you for visiting!
    </p>


